@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "SplineBold";
    src: local("SplineBold"),
        url("./assets/fonts/SplineSans-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "SplineRegular";
    src: local("SplineRegular"),
        url("./assets/fonts/SplineSans-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "SplineLight";
    src: local("SplineLight"),
        url("./assets/fonts/SplineSans-Light.ttf") format("truetype");
    font-weight: lighter;
}


.splineBold{
    font-family: "SplineBold";
}

.splineRegular{
    font-family: "SplineRegular";
}

.splineLight{
    font-family: "SplineLight";
}